[Unit]
Description=Ping ya.ru once at startup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ping -c4 ya.ru || true

[Install]
WantedBy=multi-user.target
